<div class="container">

	<div class="row footer-space">
		<div class="col-lg-12">
			<h5 class="footer-heading">Connect with Us</h5>
		</div>
	</div>
	<div class="row footer-space">
		<div class="col-lg-12">
			<a href="https://www.facebook.com/startuprobot"><img src="img/fb.png"></a>
			<a href="https://twitter.com/startuprobot"><img src="img/tweet.png"></a>
			<a href="https://instagram.com/startuprobot/"><img src="img/insta.png"></a>
			<a href="https://plus.google.com/+Startuprobot/videos"><img src="img/googleplus.png"></a>
			<a href="https://www.youtube.com/c/Startuprobot"><img src="img/utube.png"></a>
			<p class="footer-text call">...or <a href="contact.html">call</a> or <a href="contact.html">snail mail</a></p>
		</div>
	</div>
	<div class="row footer-space">
		<div class="col-lg-12">
			<p class="footer-text">Copyright &copy; 2015 StartupRobot.</p>
			<p class="footer-text">StartUpRobot is not a replacement for a Lawyer or an Accountant. Please see the appropriate professional help for specific needs. Use of startuprobot.com is subject to our <a href="privacy_policy.html">Privacy Policy</a> and <a href="terms_and_conditions.html">Terms and Conditions.</a></p>
		</div>
	</div>
</div>