<section class="privacy-section">
    <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h2>Privacy Policy</h2>
          </div>
      </div>
      <br>
      <div class="row well">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <ul>
                <li>
                  <a ng-click="vm.goTo('what-info')"> What Information do we Collect?</a>
                </li>
                <li>
                  <a ng-click="vm.goTo('when-info')"> When do we Collect Information?</a>
                </li>
                <li>
                  <a ng-click="vm.goTo('how-info')"> How do we use Your Information?</a>
                </li>
                <li>
                  <a ng-click="vm.goTo('how-protect')"> How do we Protect Visitor Information?</a>
                </li>
                <li>
                  <a ng-click="vm.goTo('do-cookies')"> Do we use 'Cookies'?</a>
                </li>
                <li>
                  <a ng-click="vm.goTo('third-party-disclosure')"> Third Party Disclosure</a>
                </li>
                <li>
                  <a ng-click="vm.goTo('third-party-links')"> Third Party Links</a>
                </li>
                <li>
                  <a ng-click="vm.goTo('google')"> Google</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <ul>
                <li>
                  <a ng-click="vm.goTo('calppa')"> California Online Privacy Protection Act</a>
                </li>
                <li>
                  <a ng-click="vm.goTo('do-not-track')"> How does our Site Handle 'Do not Track' Signals?</a>
                </li>
                <li>
                  <a ng-click="vm.goTo('third-party-tracking')"> Does our site allow third party behavioral tracking?</a>
                </li>
                <li>
                  <a ng-click="vm.goTo('coppa')"> COPPA &#40;Children Online Privacy Protection Act&#41;</a>
                </li>
                <li>
                  <a ng-click="vm.goTo('fair-info')"> Fair Information Practices</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          
          <div class="privacy-info">
           <p>
           <a id="what-info"></a>
            This privacy policy has been compiled to better serve those who are concerned with how their 'Personally Identifiable Information' (PII) is being used online. PII, as used in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.</p>             

          
          <a id="when-info"></a>  
          <h5 class="bold">What Information do we Collect?</h5>
          
          <p>When ordering or registering on our site, as appropriate, you may be asked to enter your Name, Email address, Mailing address, Phone number, TRN, Company Information or other details to help you with your experience.</p>

          <a id="how-info"></a>  
          <h5 class="bold">When do we Collect Information?</h5>
          <p>We collect information from you when you register on our site, fill out a form or enter information on our site.</p>

          <a id="how-protect"></a>
          <h5 class="bold">How do we use Your Information?</h5>
          <p>We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:</p>
          <ul>
            <li>To personalize user's experience and to allow us to deliver the type of content and product offerings in which you are most interested.</li>
            <li>To allow us to better service you in responding to your customer service requests.</li>
            <li>To quickly process your transactions.</li>
          </ul>

          <a id="do-cookies"></a>
          <h5 class="bold">How do we Protect Visitor Information?</h5>
          <p>We do not use vulnerability scanning and/or scanning to PCI standards. We use an SSL certificate.</p>
          <h5>We Implement Security Measures when a User:</h5>
          <ul>
            <li>Enters, submits, or accesses their information. We use a payment gateway provider.</li>
          </ul>

          <a id="third-party-disclosure"></a>
          <h5 class="bold">Do we use 'Cookies'?</h5>
          <h5>We use cookies to:</h5>
          <ul>
            <li>Understand and save user's preferences for future visits</li>
            <li>Compile aggregate data about site traffic and site interactions in order to offer better site experiences and tools in the future. We may also use trusted third party services that track this information on our behalf.</li>
          </ul>

          <h5>If users disable cookies in their browser:</h5>
          <p>It will turn off some of the features of the site, such as Auto-filling of Address Information.</p>

          <a id="third-party-links"></a>
          <h5 class="bold">Third Party Disclosure</h5>
          <p>We may transfer your non-identifiable information to third parties. We may also transfer your identifiable information, but only to trusted third parties.</p>

          <a id="google"></a>
          <h5 class="bold">Third Party Links</h5>
          <p>Occasionally, at our discretion, we may include or offer third party products or services on our website. These third party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.</p>

          <a id="calppa"></a>
          <h5 class="bold">Google</h5>
          <p>We have not enabled Google AdSense on our site but we may do so in the future.</p>

          <a id="do-not-track"></a>
          <h5 class="bold">California Online Privacy Protection Act</h5>
          <h5>According to CalOPPA we agree to the following:</h5>
          <ul>
            <li>Users can visit our site anonymously.</li>
            <li>Once this privacy policy is created, we will add a link to it on our home page, or as a minimum on the first significant page after entering our website.</li>
            <li>Our Privacy Policy link includes the word 'Privacy', and can be easily found on the page specified above.</li>
            Users will be notified of any privacy policy changes:
            Users are able to change their personal information:
          </ul>

          <a id="third-party-tracking"></a>
          <h5 class="bold">How does our Site Handle ‘Do not Track’ Signals?</h5>
          <p>We honor them and do not track, plant cookies, or use advertising when a Do Not Track (DNT) browser mechanism is in place.</p>

          <a id="coppa"></a>
          <h5 class="bold">Does our site allow third party behavioral tracking? We do not allow third party behavioral tracking.</h5>

           <a id="fair-info"></a>
          <h5 class="bold">COPPA (Children Online Privacy Protection Act).</h5>
          <p>We do not specifically market to children under 13 years of age.</p>

         
          <h5 class="bold">Fair Information Practices</h5>
          <h5>In order to be in line with Fair Information Practices we will take the following responsive action, should a data breach occur:</h5>
          <p>We will notify the users via email within 7 business days.</p>
          <p>We agree to the individual redress principle, which requires that individuals have a right to pursue legally enforceable rights against data collectors and processors who fail to adhere to the law. This principle requires that individuals not only have enforceable rights against data users, but also that individuals have recourse to courts or a government agency to investigate and/or prosecute non-compliance by data processors.</p>
          </div>
        </div>
      </div>
    </div>
    </section>