@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'raleway';
	src:url('../fonts/Raleway-Regular.ttf');
}

body {
	font-family: 'raleway', Arial, sans-serif;
}

.navbar-default {
	background-color: #98B8C4;
	border-color: transparent;
}

.navbar-nav {
	font-size: 15px;
}

.navbar-brand {
	padding: 8px 0;
}

.navbar-default .navbar-nav>li>a {
	color: #ffffff;
}

.navbar-default .navbar-toggle {
	border-color: #ffffff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: #ffffff;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #F8A234;
}

.logo-header {
	background-color: #008db1;
}

.right {
	text-align: right;
	padding-top: 10%;
}

.intro {
	margin: 20px 0;
}

.bold {
	font-weight: bold;
}

h3,h4 {
	line-height: 1.5;
}

.modal-dialog {
	width: 800px;
}

.modal-footer {
	text-align: center;
}

/********************************** Footer ******************************************/

.footer {
	text-align: center;
	width: 100%;
	background-color: #e1e1e1;
	/*padding: 10px;*/
}

.footer-text {
	color: #008db1;
	font-size: 12px;
}

.footer-space {
	padding-top: 10px;
	font-size: 12px;
}

.footer-space a {
	color: #FEAC06;
}

.footer-space a:hover {
	color: #008db1;
	text-decoration: none;
}

/**/

.main-form {
	margin-top: 150px;
}

.btn-default2 {
	color: #ffffff;
	/*background-color: #F8A234;*/
	background-color: #FEAC06;
	border-radius: 5px;
	border-color: #FEAC06;
	margin: 15px 0;
	padding: 10px 40px;
	font-size: 18px;
	font-weight: bold;
}

.cta-btn {
	text-align: right;
}

#cta-btn-center {
	text-align: center;
}

.main-heading {
	text-align: center;
	padding-top: 8%;
}

.main {
	padding-top: 30px;
}

.value-prop {
	color: #ffffff;
	font-weight: bold;
}

#startnow {
	/*margin-top: 45px;*/
}

.text-space {
	padding-top: 20px;
	font-size: 18px;
	color: #ffffff;
}

.general-info {
	padding-top: 20%;
	line-height: 1.8;
	font-size: 18px;
}

.text {
	line-height: 1.8;
	font-size: 18px;
}

.footnote {
	margin-top: 200px;
	color: #ffffff;
}

.footnote a {
	/*color: #F8A234;*/
	text-decoration: none;
}

#proofUpload {
	border: 3px dashed #e2e2e2;
	padding: 50px;
	text-align: center;
}

.register {
	margin-top: 50px;
	margin-bottom: 30px;
	text-align: center;
}

.registerform-button:hover {
	text-decoration: none;
} 

/************************************* Signup form ****************************************/

.signup-background {
	background-color: #ffffff;
}

#signup-nav {
	padding: 10px 20px;
	margin-top: 5px;
	/*border: 2px solid #F8A234;*/
	border-radius: 3px;
	background-color: #FEAC06;
	color: #ffffff;
}

#signup-nav:hover {
	color: #008db1;
}

.signupForm {
	padding: 10px;
	border: 1px solid #ffffff;
	border-radius: 3px;
	max-width: 450px;
	background-color: #ffffff;
	text-align: center;
	margin-top: 180px;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(36,36,36,1);
	-moz-box-shadow: 0px 0px 15px 0px rgba(36,36,36,1);
	box-shadow: 0px 0px 15px 0px rgba(36,36,36,1);
}

#email {
	width: 75%;
	margin-left: 20px;
}

.pword {
	margin-left: 45px;
}

.glyphicon {
	margin-left: -90px;
}

.field-wrap {
	font-size: 18px;
}

.field-wrap label {
	margin-top: 15px;
	font-size: 14px;
}

.field-wrap input {
	border: none;
	border-bottom: 1px solid #c7c7c7;
	margin-bottom: 10px;
	/*margin-top: 10px;*/
	padding-bottom: 5px;
	width: 50%;
	background: rgba(199, 199, 199, 0.06);
}

.form-control {
	width: 80%;
	float: none;
	border: none;
	box-shadow: none;
}

.form-control:focus {
	outline: none;
	box-shadow: none;
}

.field-wrap input:focus {
	outline: none;
	border-bottom: 2px solid #008db1;
}

/* show/hide password */
.input-group-addon {
	background-color: #ffffff;
	border: none;
	outline: none;
}

.form-label {
	text-align: left;
	font-weight: normal;
}

.disclaimer {
	margin: 20px 10px 10px 10px;
}

.signup-button {
	padding: 10px 20px;
	/*width: 250px;*/
	background: #3eddc5;
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	white-space: nowrap;
	display: inline-block;
}

/*****************************  *******************************/

.form-section {
	min-height: 100%;
    padding-top: 140px;
    padding-bottom: 50px;
    background: url(../img/robot-tilt.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*********************************** intent.html **************************************/

.intent {
	padding: 10px;
}

.intent-section {
    min-height: 100%;
    padding-top: 200px;
    padding-bottom: 50px;
    background: #fff;
}

.checkbox {
	width: 173px;
	height: 200px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 20px;
	border-radius: 3px;
	border: 1px solid rgb(216, 217, 216);
	background-color: rgb(216, 217, 216);
} 

.checkbox label {
	font-size: 18px;
	/*text-align: center;*/
}

.checkbox input[type=checkbox] {
	transform: scale(1.5);
	margin-left: -15px;
	margin-top: 6px;
	display: none;
}

.checkboxx input[type=checkbox] {
	transform: scale(1.5);
}

/*
*/

.checkbox-inline {
	width: 22px;
	height: 22px;
} 

.checkbox-inline label {
	font-size: 18px;
	/*text-align: center;*/
}

.checkbox-inline input[type=checkbox] {
	transform: scale(1.5);
	margin-left: -15px;
	margin-top: 6px;
	display: none;
}

.checkboxx-inline input[type=checkbox] {
	transform: scale(1.5);
}

/* scrum */

.description {
	/*background-color: #86A0AA;*/
	/*position: fixed;*/
	height: 450px;
	margin-top: 30px;
	color: #000000;
	font-size: 16px;
	border-radius: 3px;
	/*-webkit-box-shadow: 0px 0px 15px 0px rgba(36,36,36,1);
	-moz-box-shadow: 0px 0px 15px 0px rgba(36,36,36,1);
	box-shadow: 0px 0px 15px 0px rgba(36,36,36,1);*/
}

.radio {
	display: inline;
}

input[type=checkbox], input[type=radio] {
	margin: 4px 8px 8px 0px;
}

textarea {
	width: 47%;
	height: 100px;
	margin-left: 30px;
}

#continue {
	float: right;
}

/********************************** checklist.html *********************************/

.checklist {
	font-size: 18px;
}

/**/

.emailForm {
	padding: 10px;
	border: 1px solid #ffffff;
	border-radius: 3px;
	max-width: 450px;
	background-color: #ffffff;
	text-align: center;
	margin-top: -60px;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(36,36,36,1);
	-moz-box-shadow: 0px 0px 15px 0px rgba(36,36,36,1);
	box-shadow: 0px 0px 15px 0px rgba(36,36,36,1);
}

.thanks {
	text-align: center;
}

.thankyou {
	color: #008db1;
}

/*********************************** media queries ********************************/

@media (max-width: 767px) {
	.intro-section {
		padding-top: 100px;
		padding-bottom: 50px;
	}

	.intent-section {
		padding-top: 80px;
		padding-bottom: 50px;
	}

	.field-wrap input {
		width: 100%;
	}

	textarea {
		width: 100%;
	}
}

@media (min-width: 940px) {
	.container-fluid {
		padding-left: 110px;
		padding-right: 110px;
	}
}